
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="col-md-12">
    <table id="tblStudent" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th align="left" class="productth">ID</th>
                <th align="left" class="productth">Student Name</th>
                <th align="left" class="productth">Student Address</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>